{% extends 'poll_api/base.html' %}

{% block title %}
  Список опросов
{% endblock %}


{% block content %}
  <h1 class="mb-5">Опросы:</h1>
  {% if polls_list %}
    {% for poll in polls_list %}
      <div class="card mb-5">
        <h5 class="card-header">{{ poll.poll_name }}</h5>
        <div class="card-body">
          <a href="{% url 'question_list' poll.id %}" class="btn btn-primary">Пройти опрос</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Опросов не найдено</p>
  {% endif %}
{% endblock %}
